:root {
  --main-color: #212121;
  --secondary-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --bg-footer: #2f303a;
  --btn-hero-hover: #188ce8;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--white-color);
  font-family: 'Roboto', sans-serif;
  color: var(--main-color);
  font-weight: 700;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

.list {
  margin: 0;
  padding: 0;
}

.item {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__padding {
  padding-bottom: 0;
}

.section__title {
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__inner {
  display: flex;
  align-items: center;
}

.header__nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--main-color);

  margin-right: auto;
}

.logo .logo__web {
  color: var(--accent-color);
}

.header__list-nav,
.header__list-contact {
  display: flex;
}

.header__list-nav {
  margin-left: 93px;
}

.header__list-contact {
  margin-left: auto;
}

.header__list-nav .item + .item,
.header__list-contact .header__item-contact + .header__item-contact {
  margin-left: 50px;
}

.header__link {
  display: block;

  color: var(--main-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms var(--cubic);
}

.header__link:hover,
.header__link:focus {
  color: var(--accent-color);
}

.header__link--line {
  position: relative;
}

.header__link--line::after {
  position: absolute;
  content: '';
  bottom: 0;
  display: block;
  background-color: #188ce8;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  transform: scaleX(0);
  transition: transform 250ms var(--cubic);
}

.header__link--line:hover::after,
.header__link--line:focus::after {
  transform: scaleX(1);
}

.header__link--index-page,
.header__link--portfolio-page {
  color: var(--accent-color);
}

.header__link--index-page::after,
.header__link--portfolio-page::after {
  position: absolute;
  content: '';
  bottom: 0;
  display: block;
  background-color: #188ce8;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  transform: scaleX(1);
}

.header__link-contact {
  color: var(--secondary-color);
}

/* SVG ICONS HEADER */

.header__svg {
  display: inline-flex;
  align-items: center;
}

.header__icon {
  fill: #757575;
  margin-right: 10px;
  transition: fill 250ms var(--cubic);
}

.header__link:hover .header__icon,
.header__link:focus .header__icon {
  fill: var(--accent-color);
}

/*  SECTION HERO */
.hero {
  max-width: 1600px;
  margin: 0 auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../img/index/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  text-align: center;

  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}

.hero__btn {
  background-color: var(--accent-color);
  color: var(--white-color);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.88;
  font-weight: 700;
  letter-spacing: 0.06em;

  padding: 10px 32px;
  margin-top: 30px;
  border: 0;
  border-radius: 4px;

  transition: background-color 250ms var(--cubic);
}

.hero__btn:hover,
.hero__btn:focus {
  background-color: var(--btn-hero-hover);
}

/* SECTION features */

.features {
  display: flex;
  gap: 30px;
}

.features__title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.features__text {
  color: var(--secondary-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

/* SVG ICONS SECTION features*/

.features__icon {
  display: inline-flex;
  background-color: var(--secondary-bg-color);
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

/* SECTION suggestion */

.suggest-title {
  margin-bottom: 50px;
}

.suggest {
  display: flex;
  gap: 30px;
}

.suggest__item {
  position: relative;
}

.suggest__overlay {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  bottom: 0;

  width: 370px;
  height: 70px;

  background-color: rgba(47, 48, 58, 0.8);
}

.suggest__overlay-text {
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--white-color);
}

/* SECTION COMAND */

.comand-section {
  background-color: var(--secondary-bg-color);
}

.main-comand-title {
  margin-bottom: 50px;
}

.comand {
  display: flex;
  text-align: center;
  gap: 30px;
}

.comand__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  margin-bottom: 10px;
}

.comand__text {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.comand__border {
  background-color: var(--white-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.comand__desc {
  color: var(--secondary-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}

/* COMAND ICON */

.comand__inner-icon {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.comand__list-icon {
  display: flex;
  text-align: center;
  gap: 10px;
}

.comand__link-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;

  color: var(--white-color);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms var(--cubic), fill 250ms var(--cubic);
}

.comand__link-icon:hover,
.comand__link-icon:focus {
  background-color: var(--accent-color);
  cursor: pointer;
}

.comand__link-icon:hover .comand__icon,
.comand__link-icon:focus .comand__icon {
  fill: var(--white-color);
}

.comand__icon {
  fill: #afb1b8;
}

/* SECTION CLIENTS  */

.clients {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.clients__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  margin: 0;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;

  transition: border 250ms var(--cubic), color 250ms var(--cubic);
}

.clients__link:hover,
.clients__link:focus {
  border-color: var(--accent-color);
  cursor: pointer;
  color: var(--accent-color);
}

.clients__link .clients__icon {
  fill: currentColor;
}

.clients-title {
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
}

/* FOOTER STYLES */

.footer {
  background-color: var(--bg-footer);

  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-section {
  display: flex;
  align-items: baseline;
}

.logo--footer {
  color: var(--white-color);
}

.footer__maps {
  color: var(--white-color);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;

  transition: color 250ms var(--cubic);
}

.footer__maps:hover {
  color: var(--accent-color);
}

address {
  margin-top: 20px;
  margin-bottom: 9px;
}

.footer__link {
  color: var(--white-color);
  opacity: 0.6;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;

  padding: 0;
}

.footer__link--padding {
  margin-bottom: 9px;
}

.footer__link-label {
  color: var(--white-color);
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 20px;
}

.footer__inner-svg {
  margin-left: 70px;
}

/* FOOTER SVG */

.footer__list {
  display: inline-flex;
  gap: 10px;
}

.footer__link-svg {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  list-style: none;

  color: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: background-color 250ms var(--cubic);
}

.footer__link-svg:hover,
.footer__link-svg:focus {
  background-color: var(--accent-color);
  cursor: pointer;
}

.footer__link-svg:hover .footer__icon,
.footer__link-svg:focus .footer__icon {
  fill: var(--white-color);
}

.footer__icon {
  fill: var(--white-color);
}

/* FOOTER FORM */

.conteiner-form-footer {
  display: flex;
  align-items: flex-end;
}

.footer-form {
  margin-left: 93px;
  margin-right: 10px;
}

.footer-form__label {
  display: flex;
  flex-direction: column;
}
.footer-form__text {
  color: var(--white-color);
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-form__input {
  background-color: transparent;
  width: 358px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;

  color: #fff;
}
.footer-form__btn {
  display: flex;
  align-items: center;

  background-color: var(--accent-color);
  color: var(--white-color);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.88;
  font-weight: 700;
  letter-spacing: 0.06em;

  padding-left: 29px;
  padding-right: 29px;
  height: 50px;
  border: 0;
  border-radius: 4px;

  transition: background-color 250ms var(--cubic);
}

.footer-form__btn:hover,
.footer-form__btn:focus {
  background-color: var(--btn-hero-hover);
}

.footer-form__icon {
  margin-left: 10px;
}

/* PORTFOLIO CSS */

.filter {
  display: flex;
  justify-content: center;

  margin-bottom: 50px;
  gap: 8px;
}

.filter__btn {
  background-color: var(--secondary-bg-color);
  color: var(--main-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;

  padding: 6px 22px;

  border: 0;
  border-radius: 4px;
  transition: background-color 250ms var(--cubic), color 250ms var(--cubic);
}

.filter__btn:hover,
.filter__btn:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.card {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card__title {
  color: var(--main-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-bottom: 4px;
}

.card__desc {
  color: var(--secondary-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
}
.card__link {
  text-decoration: none;
}

/* PORTFOLIO BORDER CARDS */

.card__border {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-top: 20px;
}

.card .card__item:hover,
.card .card__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow 250ms var(--cubic);
}

/* POSITION CARDS PORTFOLIO */

.card__overflow {
  position: relative;
  overflow: hidden;
}

.card__overlay {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms var(--cubic);
}

.card__text {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(28 / 18);
  color: var(--white-color);
  padding: 63px 24px;
}

.card__item .card__link:hover .card__overlay,
.card__item .card__link:focus .card__overlay {
  transform: translateY(0);
}

/* MODAL */
.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity 250ms var(--cubic);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--cubic);
}

.modal__button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--white-color);
}

.modal__svg-close {
  fill: #000;
  transition: fill 250ms var(--cubic);
}

.modal__button-close:hover .modal__svg-close,
.modal__button-close:focus .modal__svg-close {
  fill: var(--accent-color);
}

/* FORM MODAL */

.modal__form {
  display: flex;
  flex-direction: column;

  padding: 40px 40px;
}

.modal__field {
  display: inline-block;
  position: relative;
}

.modal__title {
  color: var(--main-color);
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.modal__input {
  width: 100%;
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
}

.modal__label {
  color: var(--secondary-color);
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;

  margin-bottom: 4px;
}

.modal__label ~ .modal__label {
  margin-top: 10px;
}

.modal__input--texterea {
  height: 120px;
  resize: none;
  margin-bottom: 20px;
  padding: 12px 16px;
}

.modal__link {
  color: var(--accent-color);
}

.modal__icon {
  position: absolute;
  left: 12px;
  bottom: 50%;
  transform: translateY(50%);
  fill: var(--main-color);
  transition: fill 250ms var(--cubic);
}

.modal__input:focus {
  border-color: var(--accent-color);
}

.modal__input:focus + .modal__icon {
  fill: var(--accent-color);
}

.modal__submit {
  display: block;
  margin: 0 auto;

  background-color: var(--accent-color);
  color: var(--white-color);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.88;
  font-weight: 700;
  letter-spacing: 0.06em;

  padding: 10px 55px;
  margin-top: 30px;

  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition: background-color 250ms var(--cubic);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--btn-hero-hover);
}

.modal__check-box {
  display: flex;
  justify-content: center;
}
.modal__label--check {
  display: flex;
  align-items: center;
}
.modal__check-on {
  border-radius: 2px;
  opacity: 0;
  position: absolute;
  transition: opacity 250ms var(--cubic);
}

.modal__check:checked + .modal__check-on {
  opacity: 1;
  background-color: var(--accent-color);
}

.modal__check-off {
  opacity: 1;
}

.modal__check:checked ~ .modal__check-off {
  opacity: 0;
}

.modal__check-label {
  font-size: 14px;
  margin-left: 7px;
}
